.info__button-link {
  @include reset-button;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: $primaryColor;
  background-color: $secondaryColor;
  text-decoration: none;
  transition: background-color 1s ease, color 1s ease;
  width: 110px;
  height: 52px;
  border-radius: 100px / 50px;
  border: 1px solid #e1fd2c;
}

.info__button-link:hover {
  cursor: pointer;
  background-color: $primaryColor;
  color: $secondaryColor;
}
