.footer__copyright-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 50px 50px 485px;
  box-sizing: border-box;
  min-width: 720px;
}
