.content__pluses-column {
  width: 25%;
  border-right: $borderRight;
  padding: 41px 0 0 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
  .content__pluses-column {
    width: 50%;
  }
}
