.preview {
  font-family: $fontFamily;
  width: $stretchContainer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 840px;
  border-bottom: $borderBottom;
}

@media screen and (max-width: 1439px) {
  .preview {
    display: block;
  }
}
