@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
.page {
  width: 100%;
  background-color: #191d2c;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: Sourse Sans Pro, sans-serif;
  width: 100%;
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  border-bottom: 1px solid #e1fd2c;
  box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
  .header {
    padding-left: 0;
    justify-content: center;
  }
}
.logo {
  width: 184px;
  height: 38px;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

@media screen and (max-width: 1439px) {
  .header__list {
    display: none;
  }
}
.header__item {
  margin-right: 20px;
}

.header__item:last-of-type {
  margin-right: 397px;
}

.header__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #e1fd2c;
  text-transform: uppercase;
  transition: opacity 1s ease;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.preview {
  font-family: Sourse Sans Pro, sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas: "text image" "button image";
  border-bottom: 1px solid #e1fd2c;
  padding: 150px 0;
}

@media screen and (max-width: 1439px) {
  .preview {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
  }
}
.preview__container {
  margin: 30px 80px 0;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: text;
}

@media screen and (max-width: 1439px) {
  .preview__container {
    margin: 0 104px 0;
    order: 1;
  }
}
.preview__subtitle {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #e1fd2c;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.preview__title {
  font-weight: 400;
  font-size: 65px;
  line-height: 73px;
  text-align: center;
  color: #e1fd2c;
  margin: 0 0 51px;
}

.preview__image {
  grid-area: image;
}

@media screen and (max-width: 1439px) {
  .preview__image {
    height: 510px;
    width: 700px;
    -o-object-fit: cover;
       object-fit: cover;
    order: 2;
    align-self: center;
    margin-top: 70px;
  }
}
.preview__button {
  width: 360px;
  height: 64px;
  border: 1px solid #e1fd2c;
  box-sizing: border-box;
  padding: 0;
  background-color: #191d2c;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e1fd2c;
  font-weight: 400;
  font-size: 15px;
  line-height: 60px;
  transition: background-color 1s ease, color 1s ease;
  margin-top: 30px;
  grid-area: button;
  justify-self: center;
}

.preview__button:hover {
  cursor: pointer;
  background-color: #e1fd2c;
  color: #191d2c;
}

@media screen and (max-width: 1439px) {
  .preview__button {
    order: 3;
    align-self: center;
    margin-top: 100px;
  }
}
.content {
  font-family: Sourse Sans Pro, sans-serif;
  width: 100%;
  box-sizing: border-box;
}

.content__desc {
  min-height: 506px;
  color: #e1fd2c;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  border-right: 1px solid #e1fd2c;
  padding: 41px 50px 45px;
  box-sizing: border-box;
  width: 50%;
}

@media screen and (max-width: 1439px) {
  .content__desc {
    width: 100%;
    border-bottom: 1px solid #e1fd2c;
    min-height: 422px;
  }
}
.content__wrapper {
  display: flex;
  border-bottom: 1px solid #e1fd2c;
}

@media screen and (max-width: 1439px) {
  .content__wrapper {
    display: block;
  }
}
.content__pluses-column {
  border-right: 1px solid #e1fd2c;
  padding: 41px 0 0 50px;
  box-sizing: border-box;
  width: 50%;
}

.content__minuses-column {
  padding: 41px 0 0 50px;
  box-sizing: border-box;
  width: 50%;
}

.content__title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #e1fd2c;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.content__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content__item {
  color: #e1fd2c;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}

.content__image {
  width: 720px;
  height: 540px;
  border-right: 1px solid #e1fd2c;
  display: block;
  box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
  .content__image {
    width: 700px;
    height: 510px;
  }
}
.content__style-wrapper {
  width: 50%;
  overflow: hidden;
}

@media screen and (max-width: 1439px) {
  .content__style-wrapper {
    width: 100%;
  }
}
.content__gallery-wrapper {
  width: 50%;
  border-right: 1px solid #e1fd2c;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  .content__gallery-wrapper {
    width: 100%;
  }
}
.content__gallery-title {
  margin: 0;
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  color: #e1fd2c;
}

.content__gallery {
  border-bottom: 1px solid #e1fd2c;
}

.content__gallery-container {
  display: flex;
}

.content__button-left {
  border: 0;
  padding: 0;
  width: 42px;
  height: 34px;
  background-image: url(/images/leftGalleryBtn.svg);
  background-color: #191d2c;
  margin-right: 30px;
  transition: opacity 1s ease;
}

.content__button-left:hover {
  cursor: pointer;
  opacity: 0.6;
}

.content__button-right {
  border: 0;
  padding: 0;
  width: 42px;
  height: 34px;
  background-image: url(/images/rightGalleryBtn.svg);
  background-color: #191d2c;
  transition: opacity 1s ease;
  background-size: cover;
}

.content__button-right:hover {
  cursor: pointer;
  opacity: 0.6;
}

.info__title {
  margin: 0;
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  color: #e1fd2c;
}

.info {
  display: flex;
  border-bottom: 1px solid #e1fd2c;
}

.info__excerpt {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #e1fd2c;
  margin-bottom: 263px;
}

.info__first-column {
  width: 50%;
  min-height: 499px;
  border-right: 1px solid #e1fd2c;
  padding: 50px 0 0 50px;
  box-sizing: border-box;
}

.info__second-column {
  width: 50%;
  min-height: 499px;
  padding: 50px 50px 0px 50px;
  box-sizing: border-box;
}

.info__button-left {
  background-image: url(/images/linkImage.svg);
  width: 12px;
  height: 12px;
  border: 0;
  padding: 0;
  background-color: #191d2c;
  margin-right: 14px;
}

.info__button-right {
  background-image: url(/images/linkImage.svg);
  width: 12px;
  height: 12px;
  border: 0;
  padding: 0;
  background-color: #191d2c;
}

.info__button-link {
  border: 0;
  padding: 0;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #e1fd2c;
  background-color: #191d2c;
  text-decoration: none;
  transition: background-color 1s ease, color 1s ease;
  width: 110px;
  height: 52px;
  border-radius: 100px/50px;
  border: 1px solid #e1fd2c;
}

.info__button-link:hover {
  cursor: pointer;
  background-color: #e1fd2c;
  color: #191d2c;
}

.info__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer {
  min-height: 316px;
  display: flex;
  width: 100%;
}

.footer__form-column {
  width: 50%;
  border-right: 1px solid #e1fd2c;
  padding: 50px 0 50px 50px;
  box-sizing: border-box;
}

.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  color: #e1fd2c;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #e1fd2c;
  margin: 16px 0 64px;
}

.footer__copyright {
  margin: 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #e1fd2c;
}

.footer__copyright-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 50px 50px 485px;
  box-sizing: border-box;
  width: 50%;
}

.footer__form {
  width: 340px;
  height: 64px;
}

.footer__form-input-name {
  width: 170px;
  height: 32px;
  border: 1px solid #e1fd2c;
  box-sizing: border-box;
  background-color: #191d2c;
  color: #e1fd2c;
  font-weight: 400;
  font-size: 9px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 7px 0 7px 11px;
  cursor: pointer;
}

.footer__form-input-name:focus {
  outline: none;
}

.footer__form-input-name::-moz-placeholder {
  color: #e1fd2c;
}

.footer__form-input-name:-ms-input-placeholder {
  color: #e1fd2c;
}

.footer__form-input-name::placeholder {
  color: #e1fd2c;
}

.footer__form-input-name:focus::-moz-placeholder {
  color: rgba(225, 253, 44, 0);
}

.footer__form-input-name:focus:-ms-input-placeholder {
  color: rgba(225, 253, 44, 0);
}

.footer__form-input-name:focus::placeholder {
  color: rgba(225, 253, 44, 0);
}

.footer__form-wrapper {
  display: flex;
}

.footer__form-input-email {
  width: 260px;
  height: 32px;
  border: 1px solid #e1fd2c;
  color: #e1fd2c;
  background-color: #191d2c;
  font-weight: 400;
  font-size: 9px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 7px 0 7px 11px;
  cursor: pointer;
}

.footer__form-input-email::-moz-placeholder {
  color: #e1fd2c;
}

.footer__form-input-email:-ms-input-placeholder {
  color: #e1fd2c;
}

.footer__form-input-email::placeholder {
  color: #e1fd2c;
}

.footer__form-input-email:focus {
  outline: none;
}

.footer__form-input-email:focus::-moz-placeholder {
  color: rgba(225, 253, 44, 0);
}

.footer__form-input-email:focus:-ms-input-placeholder {
  color: rgba(225, 253, 44, 0);
}

.footer__form-input-email:focus::placeholder {
  color: rgba(225, 253, 44, 0);
}

.footer__form-button {
  width: 80px;
  height: 32px;
  border: 1px solid #e1fd2c;
  box-sizing: border-box;
  background-color: #e1fd2c;
  color: #191d2c;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.humburger-menu {
  display: none;
}

.content__columns-wrapper {
  display: flex;
  width: 50%;
}

@media screen and (max-width: 1439px) {
  .content__columns-wrapper {
    width: 100%;
    min-height: 506px;
  }
}/*# sourceMappingURL=style.css.map */